// Acordarse que esto es como Ejemplo: @mixin flex-center { display: flex; justify-content: center; align-items: center; }

// === MIXINS DE FLEXBOX ===
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin flex-row-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin flex-wrap-center($gap: 0) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
  }